.header-container{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #f7fcff;
  height: 60vh;
}
.container{
    display:flex;
    flex-direction: column;
}
.form-group{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top:5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding-left: 30px;
  padding-right:30px;
  background-color: #fff;
}
#password{
  margin-bottom: 30px;
}
.form-group label{
  font-family: Ubuntu,sans-serif;
}
.header h2 {
  font-family: Ubuntu,sans-serif;
}
.form-group input{
  font-family: Ubuntu,sans-serif;
  height: 40px;
}
.btn-send{
  text-align: center;
  margin-top:20px;
  width: 180px;
  height: 40px;
  padding:10px;
  color:white;
  background-color: #0079ae;
  border:none;
  outline:none;
  border-radius: 5px;
  font-size:14px;
  line-height:16px;
  cursor: pointer;
  font-size:16px;
  font-weight: 500;
  transition: .3s linear,.3s linear;
  margin-left:40px;
}